/*

    AUTHOR: Jona Feucht
    DEV-URL: https://jonafeucht.de
    
    VERSION: 1.0
    THEME: Tomatorant
*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Antic+Didone|Sacramento|Cookie');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Droid+Sans');

body,html {
    padding: 0px;
    margin: 0px;
    color: #fff;
}
h1,h2,h3,h4,h5,h6,a,p {
    font-family: 'Open Sans', sans-serif;
}
img {
    width: 100%;
}
/* Intro Section */
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
}
.content {
    display: table-cell;
    vertical-align: middle;
}
#intro {
    height: 100vh;
    text-align: center;
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.37)), 
	url('../images/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
#intro .container {
    border: 6px solid #fff;
    padding: 40px;
}
#intro h1 {
    font-family: 'Cookie', sans-serif;
    font-size: 60px;
    color: #fff;
}
#intro p {
    font-family: 'Sacramento', sans-serif;
    font-size: 50px;
    color: #fff;
}
#intro .btn-primary {
    padding: 10px 20px;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 14px;
    background: #fff;
    color: #333;
    border: 2px solid #fff;
    transition: all 0.4s ease-out;
}
#intro .btn-primary:hover {
    padding: 10px 20px;
    border-radius: 0;
    font-family: 14px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.4s ease-out;
}
#intro .btn-primary:focus {
    padding: 10px 20px;
    border-radius: 0;
    font-family: 14px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.4s ease-out;
}
.navbar-default {
    background: #fff;
    border: 0;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.navbar-static-top {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #d8d8d8;
}
.navbar-default .navbar-nav li a {
    color: #6f6f6f;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-top: 30px;
	border-top: 2px solid #fff;
    text-decoration: none;
}
.navbar-default .navbar-nav li a:hover {
    color: #343434;
    transition-duration: 1.6s;
	border-top: 2px solid rgb(52, 52, 52);
}
.navbar-default .navbar-nav .dropdown-menu {
    border-radius: 0px;
}
.navbar-default .navbar-nav .dropdown-menu li a {
    color: #6f6f6f;
    border: 0px;
    padding-top: 10px;
    text-align: center;
}
.navbar-default .navbar-nav .dropdown-menu li a:hover {
    color: #333;
    border: 0px;
    text-align: center;
}
.navbar-left {
    float: left !important;
    margin-right: -15px;
    padding: 0;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #333;
	border-color: #333;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
}
.navbar-right .dropdown-menu {
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #464646;
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #fff;
}
iframe {
    max-width: 100% !important;
}
/* Über Uns Section */
#uber {
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.54),rgba(0, 0, 0, 0.62)), 
	url('../images/bg-1.jpg');
    padding-top: 30px;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}
#uber .container {
    background: #fff;
    padding: 30px;
}
#uber h3 {
    font-family: 'Sacramento', sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
}
#uber p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
}
#uber hr {
    width: 5%;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    border: 2px solid #333;
}
#uber .btn-primary {
    padding: 10px 24px;
    text-align: center;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 14px;
    background: #fff;
    color: #8C6431;
    border: 2px solid #8C6431;
    transition: all 0.4s ease-out;
}
#uber .btn-primary:hover {
    border-radius: 0;
    background: #8C6431;
    color: #fff;
    border: 2px solid #8C6431;
    transition: all 0.4s ease-out;
}
#uber .btn-primary:focus {
    border-radius: 0;
    background: #8C6431;
    color: #fff;
    border: 2px solid #fff;
    transition: all 0.4s ease-out;
}
